:root {
    --primario: #71b100;
    --secundario: #e08709;
}
body {
    font-family: 'Lato', sans-serif;
}

.barra {
    background-color: #71b100;
}

@media (min-width: 768px) { 
    .barra {
        background-color: transparent;
    }
    .header {
        position: relative;
    }
    .header .barra {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}

.navbar-nav a {
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: .8rem;
}
.dropdown-menu {
    background-color: #71b100;
}
.dropdown-menu .dropdown-item {
    color: white;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #e08709;
}
.navbar-brand {
    font-size: 2rem;
    font-weight: 300;
}
.navbar-brand span {
    font-weight: 900;
}
.carousel-caption h3 {
    font-size: 2.4rem;
}
.bloque-info p { font-size: 1.4rem; }
.bg-success {
    background-color: #71b100!important;
}
.btn-warning {
    background-color: #e08709;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border-color: #e08709;
}